.about {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas:
          'avatar details details details'
          'tail tail info info';
  row-gap: 50px;
  margin-bottom: 100px;
  @media screen and (max-width: 1200px) {
    grid-template-columns: 50% 50%;
    grid-template-areas:
            'details details'
            'avatar info'
            'tail tail';
  }

  @media screen and (max-width: 768px) {
    padding-top: 100px;
    grid-template-columns: 100%;
    grid-template-areas:
            'details'
            'avatar'
            'info'
            'tail';
  }

  a {
    text-decoration: none;
    color: #bbb;
    border-bottom: 1px solid #bbb;
    padding-bottom: 1px;
    transition: all .5s;

    &:hover {
      color: #fff;
      border-color: #fff;
      transition: all .5s;
    }
  }
}

.avatar {
  grid-area: avatar;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;

  img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: morph 6s ease-in-out 1s infinite;
    overflow: hidden;
  }

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }
}

.details {
  grid-area: details;
  margin-left: 80px;

  @media screen and (max-width: 1200px) {
    margin-left: 0;
  }

  @media screen and (max-width: 992px) {
    text-align: center;
  }

  .name {
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
    letter-spacing: 3px;
    @media screen and (max-width: 576px) {
      font-size: 28px;
    }
  }

  .job {
    font-size: 18px;
    color: #bbb;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2px;
    max-width: 600px;

    @media screen and (max-width: 992px) {
      margin: 0 auto;
    }
  }

}

.tail {
  grid-area: tail;


  @media screen and (max-width: 992px) {
    text-align: center;
  }

  .text {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: .5px;
    word-wrap: break-word;
    font-weight: 400;
    color: #bbb;
    margin-bottom: 30px;

    b {
      font-size: 16px;
      color: #f3f1f1;
    }
  }

}

.info {
  grid-area: info;
  margin-left: 50px;

  @media screen and (max-width: 768px) {
    margin-left: 0;
  }

  .infoItem {
    display: flex;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: .5px;
    word-wrap: break-word;
    font-weight: 400;
    color: #767676;



    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    > div:first-child {
      color: #fff;
      font-weight: 600;
      min-width: 90px;

    }

    div:last-child {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
