.contentWrapper {
    padding-left: 400px;
    border-left: 1px solid #202020;
    background: #111111;
    height: 100vh;
    overflow: auto;
}

.content {
    max-width: calc(100vw - 481px);
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0 40px;
    position: relative;
    clear: both;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #111111;
}